.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.App-header {
  background-color: #233440;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  background-color: #d8dee9;
  flex: 1;
  overflow: auto;
  padding: 5px;
}

.App-summary {
  text-align: center;
  margin: 2px;
  padding: 5px;
  font-size: 10pt;
}

.TaskList {
  display: flex;
  flex-direction: column;
  padding: 1px;
  /* border: 0.1px solid #303030; */
}

.TaskList-title {
  font-weight: 800;
  font-size: 16pt;
  display: none;
}

.Task {
  background: #fcfcfc;
  /* background: #eceff4; */
  /* border-bottom: 1px solid #eaeaea; */
  filter: drop-shadow(3px 2.5px 0.8px #233440);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  font-weight: 600;
  font-family: Verdana;
  /* margin-bottom: 8px; */
}
.Task:hover { background-color: #eceff4; }

.Task--done { background-color: #cedeac; }
.Task--done:hover { background-color: #deeebc; }

.Task-headline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Task-details {
  display: flex;
  flex-direction: row;
}

.Task--done-checkmark {
  color: #309030;
}

.Task-title {
  padding: 3px;
  color: #101010;
  display: flex;
}

.Task-action {
  border-radius: 5px;
  font-weight: 700;
  background-color: #81a1c1;
  color: white;
  text-transform: uppercase;
  font-family: "Roboto";
  margin-left: 1px;
}

.Task-action--start {
  background-color: #3b4252;
  border: 2px solid #406080;
}

.Task-action--accept {
  background-color: #a3be8c;
  border: 2px solid #b3cf9d;
}

.Task-action--reject {
  background-color: #bf616a;
  border: 2px solid #cf717a;
}

.Task-action--deliver {
  background-color: #d08770;
}